################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library/assetDatabase3
/.vs/Tanks/v15/Server/sqlite3/db.lock
